*{
    padding: 0;
    margin: 0;
}
#hero{
    min-width: 97vw;
    min-height: 100vh;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 5rem;
    }
}
.container{
    margin-top: 20vh;
    display: flex;
    transform: scale(0.3);
    opacity: 0.1;
    transition: all 1s ease-in-out;
    .text{
        padding: 1rem;
        background-color: lightcyan;
        margin: 1rem;
    }
}
.active{
    opacity: 1;
    transform: scale(1);
}
.activeOut{
    opacity: 1;
    transform: rotate(45deg);
    transform: scale(1);
}
#footer{
    height: 150vh;
}